<h1>Hi <%= @order.name %></h1>
<p>You have successfully taken a order, here is the order's detail: </p>
<table>
  <tr>
    <th>Title</th>
    <th>Price</th>
    <th>Quantity</th>
  </tr>
  <% @order.line_items.each do |item| %>
    <tr>
      <td class="item_title">
        <%= item.product.title %>
      </td>
      <td class="item_price">
        <%= number_to_currency(item.product.price) %>
      </td>
      <td class="item_count">
        <%= item.quantity %>
      </td>
    </tr>
  <% end %>
  <tr class="total_line">
    <td colspan="2">Total</td>
    <td><%= number_to_currency(@order.line_items.to_a.sum() {|item| item.total_price } ) %></td>
  </tr>
</table>
<p>Thanks and have a great day!</p>
